.sections {
  margin: 0 auto;
}

.section-card {
  padding: 3vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dashboard-btn {
  background-color: $deep-yellow;
  padding: 1vh 2vh;
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 5vh;
  font-weight: bold;
  color: $blue;
}

.dashboard-btn:hover {
  color: $blue;
}

.log-out-btn {
  float: right;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border: none;
}

@media(min-width: 576px) {
  .sections {
    padding: 0 6vw;
  }
}


@media(min-width: 992px) {
  .sections {
    padding: 0 12vw;
  }
}

@media(min-width: 1400px) {
  .sections {
    padding: 0 16vw;
  }
}
